@import "../../../scss/variables";

.sidebar {
  min-width: 200px;
  overflow: auto;
  padding: 10px 10px 10px 0;
  position: relative;
  background-color: $sidebarBg;

  &.darwin {
    padding-top: 40px;
  }
}
