@import "../../../../scss/variables";

.sidebarItem {
  color: $darkColor;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  opacity: .6;
  border-radius: 5px;
  transition: opacity 100ms, background-color 100ms;

  &:hover {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }

  &:active, &.selected {
    background-color: lighten($sidebarBg, 5%);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &.selected {
    opacity: 1;
    background-color: $listSelectedDarkBg;
  }

  &.marginBottom {
    margin-bottom: 25px;
  }

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
  }
}

.icon {
  margin-right: 8px;
  float: left;
}
